@model IEnumerable<Course>
@{
    ViewData["Title"] = "Course List";
}

<h2>Course List</h2>
<a asp-controller="Home" asp-action="AddCourse" class="btn btn-primary">Add New Course</a>
<a asp-controller="Home" asp-action="AddHole" class="btn btn-primary">Add New Hole</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>View</th><th>CourseName</th><th>Zip Code</th><th>Number of Holes</th><th>Course Par</th><th>Edit</th><th>Delete</th></tr>
    </thead>
    <tbody>
        @foreach (Course course in Model)
        {
            int? coursePar = 0;
            var holeCount = 0;
            <tr>
                <td>
                    <a asp-controller="Home" asp-action="ViewCourse"
                       asp-route-id="@course.CourseID"
                       asp-route-slug="@course.Slug">View</a>
                </td>
                <td>@course.CourseName</td>
                <td>@course.ZipCode</td>
                @{ foreach (Hole h in ViewBag.Holes)
                    {
                        if(h.Course.CourseID == course.CourseID)
                        {
                            coursePar += h.Par;
                            holeCount++;
                        }
                    }
                }
                <td>@holeCount</td>
                <td>@coursePar</td>
                <td>
                    <a asp-controller="Home" asp-action="EditCourse"
                       asp-route-id="@course.CourseID"
                       asp-route-slug="@course.Slug">Edit</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="DeleteCourse"
                       asp-route-id="@course.CourseID"
                       asp-route-slug="@course.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-area="Admin" asp-controller="Home" asp-action="index" class="btn btn-primary">Admin Home</a>