@{
    ViewData["Title"] = "Course List";
}

<h2>Course List</h2>
<a asp-controller="Home" asp-action="AddCourse" class="btn btn-primary">Add New Course</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th><th>CourseID</th><th>CourseName</th><th>Number of Holes</th><th>Course Par</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Course course in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Home" asp-action="DeleteCourse"
                       asp-route-id="@course.CourseID"
                       asp-route-slug="@course.Slug">Delete</a>
                </td>
                <td>@course.CourseID</td>
                <td>@course.CourseName</td>
                <td>@course.Holes</td>
            </tr>
        }
    </tbody>
</table>

<a asp-area="Admin" asp-controller="Home" asp-action="index" class="btn btn-primary">Admin Home</a>