@model IEnumerable<GamePlayed>
@{
    ViewData["Title"] = "Game List";
    List<GamePlayed> openGames = ViewBag.OpenGames;
    List<Player> players = ViewBag.Players;
    List<Hole> holes = ViewBag.Holes;
    int? par = 0;
}

<h2>Game List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr><th>PlayerName</th><th>CourseName</th><th>Score</th><th>Course Par</th><th>Delete</th></tr>
    </thead>
    <tbody>
        @foreach (GamePlayed game in Model)
        {
            foreach (Hole h in holes)
            {
                if (h.CourseID == game.CourseID)
                {
                    par += h.Par;
                }
            }
            <tr>
                <td>@game.Player.Name</td>
                <td>@game.Course.CourseName</td>
                <td>@game.Score</td>
                <td>@par</td>
                <td>
                    <a asp-controller="Home" asp-action="DeleteGamePlayed"
                       asp-route-id="@game.GamePlayedID">Delete</a>
                </td>
            </tr>
            par = 0;
        }
    </tbody>
</table>

<h2>Open Games List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Player Name</th><th>Course Name</th><th>Current Score</th><th>Started By</th><th>Delete</th></tr>
    </thead>
    <tbody>
        @foreach (GamePlayed game in openGames)
        {
            <tr>
                <td>@game.Player.Name</td>
                <td>@game.Course.CourseName</td>
                <td>@game.Score</td>
                @foreach (Player p in players)
                {
                    if (p.PlayerID == game.StartedByPlayerID)
                    {
                        <td>@p.Name</td>
                    }
                }
                <td>
                    <a asp-controller="Home" asp-action="DeleteGamePlayed"
                       asp-route-id="@game.GamePlayedID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Suspect Game List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr><th>PlayerName</th><th>CourseName</th><th>Score</th><th>Course Par</th><th>Delete</th></tr>
    </thead>
    <tbody>
        @foreach (GamePlayed game in Model)
        {
            foreach (Hole h in holes)
            {
                if (h.CourseID == game.CourseID)
                {
                    par += h.Par;
                }
            }
            if (game.Score < par - 6)
            {
                <tr>
                    <td>@game.Player.Name</td>
                    <td>@game.Course.CourseName</td>
                    <td>@game.Score</td>
                    <td>@par</td>
                    <td>
                        <a asp-controller="Home" asp-action="DeleteGamePlayed"
                           asp-route-id="@game.GamePlayedID">Delete</a>
                    </td>
                </tr>
            }
            par = 0;
        }
    </tbody>
</table>

<a asp-area="Admin" asp-controller="Home" asp-action="index" class="btn btn-primary">Admin Home</a>