@model IEnumerable<Player>
@{
    ViewData["Title"] = "Player List";
}

<h2>Player List</h2>
<!--Should the admin be able to change user passwords?-->
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th><th>Username</th><th>Password</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Player player in Model)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Username</td>
                <td>@player.Password</td>
                <td>
                    <a asp-controller="Home" asp-action="DeletePlayer"
                       asp-route-id="@player.PlayerID"
                       asp-route-slug="@player.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-area="Admin" asp-controller="Home" asp-action="index" class="btn btn-primary">Admin Home</a>