@{
    ViewData["Title"] = "User List";
}

<h2>User List</h2>
<!--Should the admin just be able to add a user?-->
<!--Should the admin be able to change user passwords?-->
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th><th>Username</th><th>Password</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Username</td>
                <td>@user.Password</td>
                <td>
                    <a asp-controller="Home" asp-action="DeleteUser"
                       asp-route-id="@user.UserID"
                       asp-route-slug="@user.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-area="Admin" asp-controller="Home" asp-action="index" class="btn btn-primary">Admin Home</a>